<div class="container-fluid">
	<div class="row justify-content-center">
		<div class="col-12 col-sm-9 col-md-7 col-lg-6 col-xl-5 text-center p-0 mt-3 mb-2">
			<div class="card px-0 pt-4 pb-0 mt-3 mb-3">
				<h2 id="heading">Izit Experience</h2>
				<p>Por favor llena todos los campos</p>
				<form id="msform" autocomplete="off" (ngSubmit)="enviarFormulario()" [formGroup]="datosBasicos">
					<!-- progressbar -->
					<ul id="progressbar">
						<li class="active" id="account"></li>
						<li id="personal"></li>
						<li id="payment"></li>
						<li id="confirm"></li>
					</ul>
					<div class="progress">
						<div
							class="progress-bar progress-bar-striped progress-bar-animated"
							role="progressbar"
							aria-valuemin="0"
							aria-valuemax="100"
						></div>
					</div>
					<br />
					<!-- fieldsets -->
					<fieldset>
						<div class="form-card">
							<div class="row">
								<div class="col-7">
									<h2 class="fs-title">Información básica:</h2>
								</div>
								<div class="col-5">
									<h2 class="steps">Paso 1 - 4</h2>
								</div>
							</div>
							<!--Nombre-->
							<label class="fieldlabels">Nombre: *</label>
							<small *ngIf="nombreNoValido" class="danger">Campo requirido</small>
							<input
								type="text"
								class="form-control"
								placeholder="Nombre"
								formControlName="nombre"
								[class.is-invalid]="nombreNoValido"
							/>
							<!--Apellido-->
							<label class="fieldlabels">Apellido: *</label>
							<small *ngIf="apellidoNoValido" class="danger">Campo requirido</small>
							<input
								type="text"
								class="form-control"
								placeholder="Apellido"
								formControlName="apellido"
								[class.is-invalid]="apellidoNoValido"
							/>
							<!--RUT-->
							<label class="fieldlabels">RUT: *</label>
							<small *ngIf="rutNoValido" class="danger">El RUT ingresado no es correcto</small>
							<input
								type="text"
								class="form-control"
								formControlName="rut"
								placeholder="RUT"
								[class.is-invalid]="rutNoValido"
								(keyup)="verificarRut($event)"
							/>
							<label for="" class="fieldlabels"> Email: *</label>
							<small *ngIf="emailNoValido" class="danger">Email no válido</small>
							<input
								type="text"
								class="form-control"
								placeholder="Email"
								formControlName="email"
								[class.is-invalid]="emailNoValido"
							/>

							<label class="fieldlabels">Dirección: *</label>
							<small *ngIf="dirNumNoValido" class="danger">Por favor ingresa un número de calle</small>
							<AutocompleteComponent
								(setAddress)="getAddress($event)"
								adressType="geocode"
								#addresstext
							></AutocompleteComponent>
							<!-- Colocar una función para el autocomplete de Google Maps-->
							<input [hidden]="true" type="text" class="form-control" formControlName="direccion" />
							<input [hidden]="true" type="text" class="form-control" formControlName="dirNum" />
							<input [hidden]="true" type="text" class="form-control" formControlName="estado" />
							<input
								type="text"
								class="form-control"
								placeholder="Depto/Oficina/Casa (opcional)"
								formControlName="oficina"
							/>
							<input
								type="text"
								class="form-control"
								formControlName="ciudad"
								placeholder="Ciudad "
								[class.is-invalid]="ciudadNoValido"
								disabled
							/>
						</div>
						<!-- Boton de siguiente invalido si el formulario permanece invalido-->
						<input
							type="button"
							name="next"
							class="next action-button"
							value="Siguiente"
							[disabled]="!seccionUnoNoValido"
						/>
					</fieldset>
					<!-- Fin de primera Parte-->
					<fieldset>
						<div class="form-card">
							<div class="row">
								<div class="col-7">
									<h2 class="fs-title">Información personal:</h2>
								</div>
								<div class="col-5">
									<h2 class="steps">Paso 2 - 4</h2>
								</div>
							</div>
							<!--GENERO-->
							<label class="fieldlabels">Género: *</label>
							<select name="" id="" class="form-control" formControlName="genero">
								<option *ngFor="let gender of formData.gender" [value]="gender.genId">
									{{ gender.genFullName }}
								</option>
							</select>
							<!--Fecha de nacimiento-->
							<label class="fieldlabels">Fecha de nacimiento: *</label>
							<input
								matInput
								[matDatepicker]="picker"
								placeholder="Fecha de nacimiento"
								[min]="minDate"
								[max]="maxDate"
								class="form-control"
								(click)="picker.open()"
								formControlName="fechaNacimiento"
								type="text"
							/>
							<mat-datepicker touchUi #picker></mat-datepicker>
							<!-- Estado Civil-->
							<label class="fieldlabels">Estado civil: *</label>
							<select name="" id="" class="form-control" formControlName="estadoCivil">
								<option *ngFor="let status of formData.marital_status" [value]="status.mmsId">
									{{ status.mmsFullName }}
								</option>
							</select>

							<label class="fieldlabels">Actualmente: *</label>
							<select name="" id="" class="form-control" formControlName="profesion">
								<option *ngFor="let activity of formData.current_activity" [value]="activity.mcaId">
									{{ activity.mcaFullName }}
								</option>
							</select>
							<label class="fieldlabels">Nivel educación: *</label>
							<select name="" id="" class="form-control" formControlName="educacion">
								<option *ngFor="let education of formData.education" [value]="education.eduId">
									{{ education.eduFullName }}
								</option>
							</select>
						</div>
						<input
							type="button"
							name="next"
							class="next action-button"
							value="Siguiente"
							[disabled]="!seccionDosNoValido"
						/>
						<input type="button" name="previous" class="previous action-button-previous" value="Anterior" />
					</fieldset>
					<!-- PASO 3 estilo de vida-->
					<fieldset>
						<div class="form-card">
							<div class="row">
								<div class="col-7">
									<h2 class="fs-title">Estilo de vida:</h2>
								</div>
								<div class="col-5">
									<h2 class="steps">Paso 3 - 4</h2>
								</div>
							</div>
							<!--Vive con: -->
							<label class="fieldlabels">Vive con: *</label>
							<select name="" id="" class="form-control" formControlName="viveCon">
								<option *ngFor="let comp of formData.dwell_composition" [value]="comp.dcpId">
									{{ comp.dcpFullName }}
								</option>
							</select>
							<!--Vive en-->
							<label class="fieldlabels">Vive en: *</label>
							<select name="" id="" class="form-control" formControlName="residencia">
								<option *ngFor="let struct of formData.dwell_struct" [value]="struct.dstId">
									{{ struct.dstFullName }}
								</option>
							</select>
							<!--Practica Deportes-->
							<label class="fieldlabels">Practica algún deporte: *</label>
							<div class="list-group radio-list-group">
								<div class="list-group-item">
									&nbsp;
									<label>
										<input
											class="form-check-input"
											type="radio"
											value="true"
											formControlName="deportes"
										/>
										&nbsp;
										<span class="list-group-item-text"> <i class="fa fa-fw"></i> Si </span>
									</label>
								</div>
								<div class="list-group-item">
									&nbsp;
									<label>
										<input type="radio" value="false" formControlName="deportes" /> &nbsp;
										<span class="list-group-item-text"> <i class="fa fa-fw"></i> No </span>
									</label>
								</div>
							</div>
							<div class="form-holder" *ngIf="practicaDeporte">
								<select name="" id="" class="form-control" formControlName="deporteFrecuencia">
									<option value="0" class="option" selected>-- ¿Con que frecuencia? --</option>
									<option value="1" class="option">1 vez a la semana</option>
									<option value="2" class="option">2 veces a la semana</option>
									<option value="4" class="option">4 veces a la semana</option>
									<option value="7" class="option">7 o más veces a la semana</option>
								</select>
							</div>

							<!--Tiene Hijos-->
							<label class="fieldlabels"> Tienes hijos? * </label>
							<div class="list-group radio-list-group">
								<div class="list-group-item">
									&nbsp;
									<label>
										<input type="radio" value="true" formControlName="tieneHijo" /> &nbsp;
										<span class="list-group-item-text"> <i class="fa fa-fw"></i> Si</span>
									</label>
								</div>
								<div class="list-group-item">
									&nbsp;
									<label>
										<input type="radio" value="false" formControlName="tieneHijo" /> &nbsp;
										<span class="list-group-item-text"> <i class="fa fa-fw"></i> No</span>
									</label>
								</div>
							</div>

							<div class="form-holder" *ngIf="tieneHijo">
								<select
									name=""
									id=""
									class="form-control"
									formControlName="cuantosHijos"
									(change)="onChildrenChange($event)"
								>
									<option value="0" class="option" selected>-- ¿Cuantos? --</option>
									<option value="1" class="option">1 hijo</option>
									<option value="2" class="option">2 hijos</option>
									<option value="3" class="option">3 hijos</option>
									<option value="4" class="option">4 hijos</option>
									<option value="5" class="option">5 hijos</option>
								</select>
							</div>
							<!--TODO: Hay Que Agregar un componente para tratar el número de hijos y las edades-->
							<div class="form-holder" *ngFor="let hijo of cantidadHijos; let i = index">
								<label class="fieldlabels">Edad hijo {{ i + 1 }}: </label>
								<input
									type="text"
									class="form-control"
									placeholder="Edad hijo {{ i + 1 }}"
									(change)="onEdadhijosChage($event)"
								/>
							</div>
							<!--Tiene mascotas-->
							<label for="" class="fieldlabels">Tienes mascota: *</label>
							<div class="list-group radio-list-group">
								<div class="list-group-item">
									&nbsp;
									<label>
										<input type="radio" value="true" formControlName="mascota" /> &nbsp;
										<span class="list-group-item-text"> <i class="fa fa-fw"></i> Si</span>
									</label>
								</div>
								<div class="list-group-item">
									&nbsp;
									<label>
										<input type="radio" value="false" formControlName="mascota" /> &nbsp;
										<span class="list-group-item-text"> <i class="fa fa-fw"></i> No</span>
									</label>
								</div>
							</div>
							<div class="form-holder" *ngIf="tieneMascota">
								<select
									class="form-control"
									formControlName="cuantasMascotas"
									(change)="onCuantasMascotasChange($event)"
								>
									<option value="0" class="option" selected>-- ¿Cuantas? --</option>
									<option value="1" class="option">1 mascota</option>
									<option value="2" class="option">2 mascotas</option>
									<option value="3" class="option">3 mascotas</option>
									<option value="4" class="option">4 mascotas</option>
									<option value="5" class="option">5 mascotas</option>
								</select>
							</div>
							<!--TODO: Hay Que Agregar un componente para tratar el número de hijos y las edades-->
							<div class="form-holder" *ngFor="let mascota of cantidadMascotas; let i = index">
								<label class="fieldlabels">Tipo de mascota {{ i + 1 }}: </label>
								<select name="" id="" class="form-control" (change)="onTipoMascotaChange($event)">
									<option *ngFor="let pet of formData.pets" [value]="pet.mptId">
										{{ pet.mptFullName }}
									</option>
								</select>
							</div>

							<div class="form-holder" *ngIf="tieneMascota"></div>
						</div>
						<input
							type="button"
							name="next"
							class="next action-button"
							value="Siguiente"
							[disabled]="!seccionTresNoValido"
						/>
						<input type="button" name="previous" class="previous action-button-previous" value="Anterior" />
					</fieldset>
					<!-- SECCION 4 FINAL-->
					<fieldset>
						<div class="form-card">
							<div class="row">
								<div class="col-7">
									<h2 class="fs-title">Contenido multimedia:</h2>
								</div>
								<div class="col-5">
									<h2 class="steps">Paso 4 - 4</h2>
								</div>
							</div>
							<label for="">Posee internet de banda ancha hogar? * </label>
							<div class="list-group radio-list-group">
								<div class="list-group-item">
									&nbsp;
									<label>
										<input type="radio" value="true" formControlName="tieneInternet" /> &nbsp;
										<span class="list-group-item-text"> <i class="fa fa-fw"></i> Si</span>
									</label>
								</div>
								<div class="list-group-item">
									&nbsp;
									<label>
										<input type="radio" value="false" formControlName="tieneInternet" /> &nbsp;
										<span class="list-group-item-text"> <i class="fa fa-fw"></i> No</span>
									</label>
								</div>
							</div>
							<div class="form-holder" *ngIf="isp">
								<select name="" id="" class="form-control" formControlName="proveedorServicio">
									<option *ngFor="let isp of formData.isp" [value]="isp.ispId">
										{{ isp.ispShortName }}
									</option>
								</select>
							</div>
							<!--Contenid que te gusta leer o ver-->
							<label for="" class="fieldlabels">Contenido que te gusta ver y/o leer (solo 3): </label>
							<div class="list-group checkbox-list-group">
								<div class="list-group-item" *ngFor="let data of formData.read_watch; let i = index">
									&nbsp;
									<label>
										<input
											type="checkbox"
											[value]="data.msrId"
											(change)="onGustosChange($event)"
											[disabled]="contenidoMax"
										/>
										&nbsp;
										<span class="list-group-item-text">
											<i class="fa fa-fw"></i> {{ data.msrFullName }}
										</span>
									</label>
								</div>
							</div>

							<label for="" class="fieldlabels">Gustos y preferencias(solo 3):*</label>
							<div class="list-group checkbox-list-group">
								<div
									class="list-group-item"
									*ngFor="let data of formData.preference_like; let i = index"
								>
									&nbsp;
									<label>
										<input
											type="checkbox"
											[value]="data.mspId"
											(change)="onPreferenciasChange($event)"
											[disabled]="prefMax"
										/>
										&nbsp;
										<span class="list-group-item-text">
											<i class="fa fa-fw"></i> {{ data.mspShortName }}
										</span>
									</label>
								</div>
							</div>

							<label for="">Que plataformas de contenido posee?*</label>
							<div class="list-group checkbox-list-group">
								<div class="list-group-item" *ngFor="let data of formData.video_content; let i = index">
									&nbsp;
									<label>
										<input
											type="checkbox"
											[value]="data.mvcId"
											(change)="onPlataformaChange($event)"
										/>
										&nbsp;
										<span class="list-group-item-text">
											<i class="fa fa-fw"></i> {{ data.mvcFullName }}
										</span>
									</label>
								</div>
							</div>

							<label for="">Redes sociales que más usa (solo 3) *</label>
							<div class="list-group checkbox-list-group">
								<div
									class="list-group-item"
									*ngFor="let data of formData.social_network; let i = index"
								>
									&nbsp;
									<label>
										<input
											type="checkbox"
											[value]="data.msnId"
											(change)="onRedesChange($event)"
											[disabled]="redesMax"
										/>
										&nbsp;
										<span class="list-group-item-text">
											<i class="fa fa-fw"></i> {{ data.msnFullName }}
										</span>
									</label>
								</div>
							</div>
							<!-- Envio del formulario una vez se encuentra todo validado-->
							<button
								name="submit"
								type="submit"
								class="action-button"
								[disabled]="!seccionCuatroNoValido"
							>
								Enviar
							</button>
							<input
								type="button"
								name="previous"
								class="previous action-button-previous"
								value="Anterior"
							/>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</div>
